version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - appnet
  backend:
    build:
      context: ./backend
    ports:
      - "8081:80"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: patient_management
      DB_USER: root
      DB_PASS: root
    depends_on:
      - db
    networks:
      - appnet
  db:
    image: mysql:8.3
    restart: always
    environment:
      MYSQL_DATABASE: patient_management
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - appnet
volumes:
  dbdata:
networks:
  appnet:
    driver: bridge
